@model IEnumerable<OrbusDevTest.DataAccess.Models.Product>
@{
    var jsonProducts = Model;
}
<h3>Products Page</h3>
<hr>
<div style="float: left">
    <label>Category</label>
    <select id="category">
        <option></option>
    </select>
</div>
<div style="float: left;margin-left: 10px">
    <label>Sub Category</label>
    <select id="subcategory">
        <option></option>
    </select>
</div>
<div style="float: left; margin-left: 10px">
    <label>Min Stock</label>
    <input id="minstock" type="number" value="500" step="100" />
</div>
<div style="clear: both"></div>
<hr>

@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/app")

@Html.Partial("~/views/product/ProductsPartial.cshtml", Model)

@section Scripts {
    <script type="text/javascript">
        
        var productList = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(jsonProducts))';
        var model = new ProductModel(productList);
        var dom = $("#producttablebody")[0];

        ko.applyBindings(model, dom);
    </script>
}
